@import "tailwindcss";


html, body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
 background-color: #211a12; /* O el color oscuro/base que combine con tu app */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}


.min-h-screen-safe {
  min-height: 100vh;
  min-height: 100dvh;
}



input, select, textarea {
  font-size: 16px !important;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}


@keyframes slideFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-right {
  animation: slideFromRight 0.90s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.18);
}

.animate-slide-left {
  animation: slideFromLeft 0.90s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  box-shadow: 20px 0 40px rgba(0, 0, 0, 0.18);
}