@import "tailwindcss";

html, body {
  overscroll-behavior: none;
  overflow: hidden; /* <--- Bloquea el scroll general de la página entera */
  height: 100%;     /* <--- Fija el alto exacto al 100% de la pantalla */
  position: fixed;  /* <--- Evita que el body se mueva */
  width: 100%;
}

body {
  background-color: #211a12;
  margin: 0;
  padding: 0;
}

/* El contenedor principal de tu app dentro del body debe tener esto para poder scrollear por dentro */
.app-container {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.min-h-screen-safe {
  min-height: 100vh;
  min-height: 100dvh;
}

input, select, textarea {
  font-size: 16px !important;
}

@keyframes slideFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-right {
  animation: slideFromRight 0.90s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.18);
}

.animate-slide-left {
  animation: slideFromLeft 0.90s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  box-shadow: 20px 0 40px rgba(0, 0, 0, 0.18);
}